.container_resultado {
  padding: 20px;
}

.filtros {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
  color: #999999;
  margin-bottom: 20px;

}

.filtros ul li {
  display: inline-block;
  padding-right: 10px;
}

.bloque_resultado {
  padding: 10px !important;
}

.producto {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  margin-bottom: 20px;
}




/* Estilos para la informacion en caja de producto */
p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.p_tipo_cartel {
  font-size: 10px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.p_direccion {
  font-size: 18px;
  font-weight: bold;
}

.p_calles {
  font-size: 12px;
  font-weight: 400;

}

.p_costo {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;

}

.flex-probar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap
}

/* Estilos de la puntuacion con estrellas */
.estrellas {
  margin-bottom: 10px;
}

.checked {
  font-size: 12px;
  color: #10A3EB;
}

.n_checked {
  font-size: smaller;
  color: rgb(83, 92, 96);
}

/* Resultados Producto */

.resultados_producto {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  margin-bottom: 20px;
  background-color:#ffffff ;
}

.resultados_producto:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}



.paginado_contenido {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #999999;

}

.paginado_contenido a {

  font-size: 18px;
}