
/* Global */

 * {
    box-sizing: border-box;
  }

  /* Para ver el posicionamiento de los bloques */
  /* [class*=col-]{
    border: solid red;
} */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    overflow:visible;
  }

  .extra_options{
      align-content: center;
  }
  
 /* style */
  .main-header {
    padding: 16px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
  }

  /*  */
.header-row{/*parecido a style pero distinto*/
    justify-content:space-between;
}

/* style */
.box_buscador {
    background-color: #fff;
    width: 100%;

  
  }
  .box_buscador .top-nav-search-btn{
    background-color: #10A3EB;
    height: 100%;
    width: 100%;
    /* font-size: 18px; */
    color: #ffffff;
    /* border: 1px solid #10A3EB; */
    border-width: 1%%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    right: 15px;
    border: 1px solid #10A3EB;
    min-width: fit-content;
  }
.barra_buscador{
    border: solid #10A3EB;
    width: 100%;
    height: 30px;
    border-width: 1%;
    border-radius: 5px;
    font-size: small;
    color: #666666;

  }
 
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 /* style.css */
 .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
/* Supuestamente esta en style pero no lo encontre, los tuve que redefinir */

  .carrito{
      color: #10A3EB;
      position: relative;
      left: 8px;
      top: 8px;

  }
  .toggle-nav{
      color: #10A3EB;
      position: relative;
      top: 8px;
  }

  /* style */

  .producto {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    margin-bottom: 20px;
  }
  
  .producto_info {
    padding: 10px 16px;
  }

.img_produto{
    min-width: 300px;
}
  /*  */
/* .form_style{
    margin-bottom: none;
} */



/* Estilos para la informacion en caja de producto */
p{
    margin-bottom: 5px;
    margin-top: 5px;
}
.p_tipo_cartel{
    font-size: small;
    font-weight: lighter;

}
.p_direccion{
    font-size: small;
    font-weight: bolder;
}
.p_calles{
    font-size: xx-small;
    font-weight: lighter;

}
.p_costo{
    font-size: small;
}

/* Estilos de la puntuacion con estrellas */
.estrellas{

    margin-bottom: 10px;
}
.checked{
    font-size: smaller;
    color: #10A3EB;
}
.n_checked{
    font-size: smaller;
    color: rgb(83, 92, 96);
}

/* Resultados Producto */

.resultados_producto{
    border:1px #666666 solid;
    padding: 5px;
}

.bloque_resultado{
    max-height: 172;
    max-width: 330;
}


.paginado_contenido{
    text-align: center;
    background-color: #fff;
}
.arrow{
    font-size: small;
}
/* Footer */
.footer {
    background-color: #f6f6f6;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer ul li {
    display: inline-block;
    padding-right: 10px;
  }
  
.icon-sociales {
    text-align: right;
    padding-left:0px ;
  }
  
.icon-sociales a {
    font-size: 18px;
    padding: 10px 5px;
  }

  /* Preguntar bien sobre estos estilos */

  p,
a {
  font-size: 14px;
}

a {
  color: #10A3EB;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #105285;
}
/*  */