<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighLight</title>
    <link rel="stylesheet" href="/css/app.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <header class="main-header">
        <div class="container">
            <!-- Logo y menu -->

            <div class="row header_row">
                <div class="col-5 col-md-3 col-lg-2 logo_bg">
                    <img src="/images/logo.svg" alt="HighLight" width="100%">
                    
                </div>
                <div class="col-7 logo_bg"></div>
                 <div class="col-3 col-md-3 col-lg-2 logo_sm">
                     
                     <img class="logo_sm" src="/images/logo_chico.svg" width="100%" alt="">
                 </div>
              
                <div class="col-9 logo_sm"></div>
            </div>
        </div>

    </header>
    <main class="main-body ">
        <!-- Carrito -->
     

            <div class="contenedor-main container">
                <h2 class="titulo-seccion"> Tu carrito</h2>
            
                 <div class="box-view"> 
                    <div class="box-container-view">
                        <!--un item-->
                     <div class="row"> 
                         <div class="col-8 col-md-8">
                             <ul class="carrito_cantidad">
                                <li><h3>Estás alquilando por </h3></li>
                                <li> <select>
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                </li>
                                
                                <li>
                                    <h3>mes</h3>
                                </li>           
                            </ul>
                        </div>
                        <div class="col-4 col-md-4 box_valor">
                            <h2><strong> $ 20.000 </strong></h2>
                        </div>       
                    </div>
                    <div class="row item_chosse"> 

                        <div class="col-2">
                            <img src="/images/img_banner.svg" width="100%" alt="">
                        </div>
                        <div class="col-10"> 
                            <em class="tipo_cartel"> Cartel Medianera</em>
                         <h4>Alberdi 6739</h4>
                           
                         
                            <ul class="acciones" > <li><a href="·">Eliminar de mi carrito</a></li></ul>
                        </div>
                    </div>
                    <!--2 items-->
                    <div class="row second-item">
                        <div class="col-8 col-md-8">
                            <ul class="carrito_cantidad">
                                <li>
                                    <h3>Estás alquilando por </h3>
                                </li>
                                <li> <select>
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </li>
                    
                                <li>
                                    <h3>mes</h3>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 col-md-4 box_valor">
                            <h2><strong> $ 20.000 </strong></h2>
                        </div>
                    </div>
                    <div class="row item_chosse">
                    
                        <div class="col-2">
                            <img src="/images/img_banner.svg" width="100%" alt="">
                        </div>
                        <div class="col-10">
                            <em class="tipo_cartel"> Cartel Medianera</em>
                            <h4>Alberdi 6739</h4>
                    
                    
                            <ul class="acciones">
                                <li><a href="·">Eliminar de mi carrito</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-total">
                    <div class="row">
                        <div class="col-8 col-md-8"><h4>Total</h4></div>
                        <div class="col-4 col-md-4 box_valor">
                            <h2><strong> $ 40.000 </strong></h2>
                        </div>
                     </div>
                </div>
              
                </div>
                   <div class="action-carrito"> 
                    <a href="index"> Agregar otro cartel</a>
                    <button value="Pagar ahora" >
                               Pagar ahora</button>
                       </div>
                   </div>
                </div>


            
        
        
      
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <nav class="footer">
                        <ul>
                            <li><a href="·">Quienes somos</a></li>
                            <li><a href="·">Términos y condiciones</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-4 icon-sociales">
                    <a href="·">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="·">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="·">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                </div>
            </div>
        </div>

    </footer>
</body>

</html>