<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighLight</title>
    <link rel="stylesheet" href="/css/app.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <header class="main-header">
        <div class="container">
            <!-- Logo y menu -->

            <div class="row header_row">
                <div class="col-5 col-md-3 col-lg-2  logo-column">
                    <img src="/images/logo.svg" alt="HighLight" width="100%">
                </div>
               
                <div class="col-7" id="b">
                  
                </div>
            </div>
        </div>

    </header>
    <main class="main-body ">
        <!-- Carrito -->
     

            <div class="contenedor-main container">
                <h2> Tu carrito</h2>
                <div class="box-container-view "> 
                    <div class="row"> 
                        <div class="col-3">
                            <img src="/images/img_banner.svg" width="100%" alt="">
                        </div>
                        <div class="col-9"> 
                          <ul class="carrito_cantidad">
                              <li><h4>Estás alquilando por </h4></li>
                              <li>
                                <select>
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                             </li>
                              <li><h4>mes</h4></li>
                        </ul>
                           
                            <h4><strong> $ 20.000 </strong></h4>
                            <ul> <li><a href="·">Eliminar </a></li></ul>
                        </div>
                        </div>
                        
                    </div>
                   
                </div>


            </div>


        </div>
        
        
      
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <nav class="footer">
                        <ul>
                            <li><a href="·">Quienes somos</a></li>
                            <li><a href="·">Términos y condiciones</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-4 icon-sociales">
                    <a href="·">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="·">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="·">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                </div>
            </div>
        </div>

    </footer>
</body>

</html>