<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HighLight</title>
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<div class="contenedor_body">
<header class="main_header">
	<div class= "logo"> <img src="/images/logo.svg" alt="HighLight"></div>
	<nav class="navegacion">
			<ul>
				<li><a href="·"> Ingresar</a></li>
				<li><a href="form.html"> Registrarse</a></li>
				<li><button class="btn"> Publicar mi cartel</button></li>

			</ul>
		</nav>
		
	
</header>
<main class="body">
	<section class="buscador"> 
		<div class="box_buscardor"> 
			<h2>Buscá el lugar perfecto
		para tú próxima campaña</h2>
		<input type="text" placeholder="Escribe el nombre del barrio, provincia …">
		<button type="submit" class="nav-search-btn" tabindex="3">
			<i class="fas fa-search"></i>
			
		</button>
		
	</div>
	</section>
	<section class="lista_productos"> 
		<h2> Listado de productos</h2>
		<div class="producto">
			<div class="img_produto">
			<img src="/images/img_banner.svg" height="100%" alt="">
			</div>
			<div class="producto_info">
				<p>Cartel ..........</p>
				<p><strong>1 mes $57783</strong></p>
			</div>
		</div>
		<div class="producto">
			<div class="img_produto">
				<img src="/images/img_banner.svg" height="100%" alt="">
			</div>
			<div class="producto_info">
				<p>Cartel ..........</p>
				<p><strong>1 mes $57783</strong></p>
			</div>
		</div>
		<div class="producto">
			<div class="img_produto">
				<img src="/images/img_banner.svg" height="100%" alt="">
			</div>
			<div class="producto_info">
				<p>Cartel ..........</p>
				<p><strong>1 mes $57783</strong></p>
			</div>
		</div>
		<div class="producto">
			<div class="img_produto">
				<img src="/images/img_banner.svg" height="100%" alt="">
			</div>
			<div class="producto_info">
				<p>Cartel ..........</p>
				<p><strong>1 mes $57783</strong></p>
			</div>
		</div>
		

	</section>
	<section class="bloque_productos_destacados"> 
	<h2> Destcado</h2>
<div class="producto">
	<div class="img_produto">
		<img src="/images/img_banner.svg" height="100%" alt="">
	</div>
	<div class="producto_info">
		<p>Cartel ..........</p>
		<p><strong>1 mes $57783</strong></p>
	</div>
</div>

	</section>
</main>
<footer>footer</footer>


	</div>
	
	
</body>
</html>