<%- include('partials/head.ejs') %>
<%- include('partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Publicar mi cartel</h2>

        <div class="box-view">
            <div class="box-container-view ">
                <form action="/products/create" method="POST" class="ui-form">
                    <p class="titulo-content">
                        Ubicación del cartel
                    </p>
                    <p class="form-content">
                        
                    <label for="domiclioCartel">Domicilio apróximado:</label>
                        <input  id= "inputdireccion" placeholder="Avenida Corrientes" type="text" name="domiclioCartel" required>
                    </p>
                    <p class="form-content">
                    
                        <label for="numero">Número o altura de calle:</label>
                        <input id="numero" type="number" name="numero" required>
                    </p>
                    <p class="form-content">
                        <label for="entreCalles1">Entre calle:</label>
                        <input placeholder="Calle 2" required class = "input_50"type="text" name="entreCalles1" class="input-medum">
                    </p>
                   <p class="form-content">
                        <label for="entreCalles2">Y la calle:</label>
                        <input placeholder="Calle 2" required class="input_50" type="text" name="entreCalles2" class="input-medum">
                    </p>
                    <p class="form-content">
                        <label for="refubicacion">Referencias del lugar:</label>
                        <textarea name="refubicacion" required></textarea>
                    </p>
                    <p class="titulo-content margin">Detalle del cartel </p>
                    <p class="form-content">
                        <label for="tipoCartel">Tipo de cartel:</label>
                        <select name="TipoDeCartel" id="tipoCartel" required>
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="Cartel Led"> Cartel Led </option>
                            <option value="Cartel de Pantalla">Cartel de Pantalla</option>
                            <option value="Cartel de Ploteo"> Cartel de Ploteo </option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="ClasifiacionCarte">Clasificación: </label>
                        <select name="ClasifiacionCartel" requiredrequired >
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="Cartel de pared"> Cartel de pared</option>
                            <option value="Cartel de parada de colectivo">Cartel de parada de colectivo</option>
                            <option value="Cartel de ruta"> Cartel de ruta </option>
                            <option value="Cartel de autopista "> Cartel de autopista </option>
                            <option value="Cartel de tranporte público "> Cartel de tranporte público </option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="expocision">Tipo de exposición:</label>
                        <select name="expocision" id="expocision" required>
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="campanascortas"> Para campañas cortas </option>
                            <option value="campanaslargas">Para campañas largas y alto rendimiento</option> 
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="trafico">Tráfino apróximado:</label>
                        <select name="trafico" id="trafico" required>
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="trafico3000">Hasta 3000 personas por día </option>
                            <option value="trafico10000">Hasta 10000 personas por día</option>
                            <option value="traficoEntre10y20">Entre 10000 y 2000 personas por día</option>
                            <option value="traficoMas2000">Más de 20000 personas por día</option>
                        </select>
                    </p>
                    <p class="titulo-content margin">
                        Medidas apróximadas
                    </p>
                    <p class="form-content input_50">
                        <label for="medidasCartelAlto">Alto: </label>
                         <input class="small" required placeholder="100 metros" type="number"  name="medidasCartelAlto">  
                    </p>
                    <p class="form-content input_50">
                        <label for="medidasCartelAncho">Ancho: </label>
                        <input class="small" required placeholder="100 metros" type="number" name="edidasCartelAncho">
                    </p>
                    <p class="titulo-content margin">Valor de alquiler por mes</p>
                    <p class="form-content input_50">
                        <label for="valor">Valor: </label>
                        <input class="small" required  type="number" name="valor">
                    </p>

                   
                    <div class="box-buttom ">
                       <button type="submit" class ="btn">Publicar</button>
                    </div>
                </form>
              
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>