<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HighLight</title>
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
​
</head>
<body>
	<div class="contenedor_body">
<header class="main_header">
	<div class= "logo"> <img src="/images/logo.svg" alt="HighLight"></div>
	<nav class="navegacion">
			<ul>
				<li><a href="·"> Ingresar</a></li>
				<li><a href="form.html"> Registrarse</a></li>
				<li><button class="btn"> Publicar mi cartel</button></li>
​
			</ul>
		</nav>
		
	
</header>
<main class="body">
​
    <div class="form">
		<h2>REGISTRACION</h2>
		
        <form action="#" method="post">
            <p>Mi nombre y apellido es: <input type="text" name="nombre" size="40"></p>
            <p>Quiero ser parte de CartelOnline para: <input type="text" name="parte" min="1900"></p>
            <p>La empresa es: <input type="text" name="empresa" min="1900"></p>
            <p>Nos dedicamos a: <input type="text" name="dedicamos" min="1900"></p>
            <p>El telefono de la empresa es: <input type="tel" name="tel" min="1900"></p>
            <p>Danos tu email: <input type="email" name="email" min="1900"></p>
            <p>Y ahora una contraseña: <input type="text" name="password" min="1900"></p>
            <p><input type="checkbox" name="condiciones" id="">
            Acepto terminos y condiciones</p>
            <p>
              <input type="submit" value="Registrarme">
              <input type="reset" value="Borrar">
            </p>
          </form>
​
    </div>      
	
</main>
<footer>footer</footer>
​
​
	</div>
	
	
</body>
</html>





