
    <%- include('partials/head.ejs') %>

    <%- include('partials/header_medium.ejs') %>

    <!-- Main Body -->
    <main class="main-body">
        <div class="container container_resultado">
            <h2 class="titulo-seccion"> Resultado de busqueda</h2>
            <div class="filtros">
                <ul>
                    <li>Por tido: XXX </li>
                    <li>Por precio: XXX</li>
                    <li><a>Ver en mapa </a></li>
                </ul>
            </div>
            <div class="row no-gutters">

                <div class="col-12 col-md-6  bloque_resultado">
                    <div class="row resultados_producto no-gutters">
                        <div class="col-6">
                            <div class="img_producto">
                                <img src="/images/img_banner.svg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-6 producto_info">
                            <div class="flex-probar">
                                <div class="uno">
                                    <em class="tipo_cartel">
                                        Cartel Medianera</em>
                                    <p class="estrellas">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star n_checked"></span>
                                        <span class="fa fa-star n_checked"></span>

                                    </p>

                                    <p class="p_direccion">Alberdi 1829</p>
                                    <p class="p_calles">Entre calles Francisco Alem y Pacifico Rodriguez</p>
                                </div>

                                <p class="p_costo">1 mes por $20.000,0</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6  bloque_resultado">
                    <div class="row resultados_producto no-gutters">
                        <div class="col-6">
                            <div class="img_producto">
                                <img src="/images/img_banner.svg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-6 producto_info">
                            <div class="flex-probar">
                                <div class="uno">
                                    <em class="tipo_cartel">
                                        Cartel Medianera</em>
                                    <p class="estrellas">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star n_checked"></span>
                                        <span class="fa fa-star n_checked"></span>

                                    </p>

                                    <p class="p_direccion">Alberdi 1829</p>
                                    <p class="p_calles">Entre calles Francisco Alem y Pacifico Rodriguez</p>
                                </div>

                                <p class="p_costo">1 mes por $20.000,0</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Paginado de resultados de busqueda -->
            <div class="row p_paginado">
                <div class="col-12 nopadding">
                    <p class="paginado_contenido"> <a href="detalle.html">1</a> <a href="detalle.html">2</a> <a
                            href="detalle.html">3</a> <a href="detalle.html"><span class="arrow">&#10148;</span></a></p>
                </div>
            </div>
        </div>

        </div>

    </main>
    <%- include('partials/footer.ejs') %>
