<header class="main-header">
    <div class="container">
        <!-- Logo y menu -->

        <div class="row header_row no-gutters">
            <div class="col-5col-md-3 col-lg-2 logo_bg logo-column">
                <a href="/"><img src="/images/logo.svg" alt="HighLight" width="100%"></a>
            </div>
            <div class="col-2 col-md-1  logo_sm logo-column">
                <a href="/"><img src="/images/logo_chico.svg" alt="HighLight" width="100%"></a>
            </div>
          
 

            <!-- javascrip on clinck class toggle on click-->
            <%- include('./nav-bar.ejs') %>
        </div>
    </div>

</header>
