<header class="main-header">
    <div class="container">
        <!-- Logo y menu -->

        <div class="row header_row no-gutters">
            <div class="col-5 col-md-3 col-lg-2 logo_bg logo-column">
                <a href="/"><img src="/images/logo.svg" alt="HighLight" width="100%"></a>
            </div>
            <div class="col-2 col-md-1  logo_sm logo-column">
                <a href="/"><img src="/images/logo_chico.svg" alt="HighLight" width="100%"></a>
            </div>

            <div class="col-4 col-md-1 col-lg-1 offset-6 offset-md-0 offset-lg-0">
                <div class="menu">
                    
                    <a href="#" class="toggle-nav">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="carrito" class="carrito">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
            <!-- javascrip on clinck class toggle on click-->
            <div class="box_nav col-md-8 offset-md-2 col-lg-4 offset-lg-5" id="b">
                <nav class="navegacion">
                    <% if(user.id==undefined){ %> 
                    <ul>
                        <li><a href="/users/ingresar"> Ingresar</a></li>
                        <li><a href="/users/registro"> Registrarse</a></li>
                        <li><a href="/users/ingresar" class="btn"> Publicar mi cartel</a></li>

                    </ul>
                    <%} else {%>
                        <ul>
                            <!-- <li><a href="/users/perfil"> Perfil</a></li> -->
                            <li><a class="nav-link dropdown-toggle profile_bar" href="/users/perfil" id="dropUser" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="/images/imagenesperfil/<%= user.profile_picture %>" width="30" style="border-radius: 100%;">
                                <!-- Hi <%= user.user_name %> -->
                            </a></li>
                            <li><a href="/sign/publish" class="btn"> Publicar mi cartel</a></li>
                        </ul>
                
                    <% } %> 
                </nav>

            </div>
        </div>
    </div>

</header>
