<%- include('../partials/head.ejs') %>
<%- include('../partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Modificar contraseña</h2>
        <div class="box-view">
            <div class="box-container-view ">
                <form  action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="formBase"
                    id="publishForm">
                    <p class="form-content">
                        <label for="pass">Contraseña:</label>
                        <input type="password" id="pass" name="pass" data-type="password">
                        <span class="feedback"></span>
                    </p>
                    <p class="form-content">
                        <label for="rpass">Repetí contraseña:</label>
                        <input type="password" id="rpass" name="rpass" data-type="password">
                        <span class="feedback"></span>
                    </p>
                    <span class="feedbackForm" id="feedbackForm"> </span>

                    <div class="box-buttom">
                        <button type="submit" class="btn">Cambiar</button>
                        <a href="/user/perfil"> Cancelar </a>
                    </div>

                </form>
            </div>
        </div>

</main>

<%- include('../partials/footer.ejs') %>

<script src="/js/validator.min.js"></script>
<script src="/js/user_validator.js"></script>