
<%- include('../partials/head.ejs') %>
<%- include('../partials/header_small.ejs') %>


    <main class="main-body">
        <div class="contenedor-main container">
            <h2 class="titulo-seccion"> Completá los datos</h2>
            <div class="box-view">
                <div class="box-container-view ">
                    <form method="POST" class="formBase" id="publishForm">
                            <p class="form-content">
                                <label for="mail">E-mail:</label>
                                <input type="email" id="mail" name="email" placeholder="juan@gmail.com" data-type="e-mail">
                                <span class="feedback"></span>

                            </p>
                            <p class="form-content">
                                <label for="pass">Contraseña:</label>
                                <input type="password" id="pass" name="user_password" data-type="contraseña">
                                <span class="feedback"></span>

                            </p>
                            
                            
                            <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                                        </label>
                                    </div>
                            <div class="box-buttom">
                                <button type="submit" class="btn"> Ingresar</button>
                            </div>

                    </form>
                    
                    <p class="linkform">¿Aún no tenes cuenta? <a href="/users/registro">Dale, registrate</a> </p>
                     
                    </div>
                </div>
            </div>
         </div>
    </main>
    
<%- include('../partials/footer.ejs') %>
<script src="/js/validator.min.js"></script>
<script src="/js/ingresar_validator.js"></script>